
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f8f8f8;
    font-family: Arial, sans-serif;
    padding: 20px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.container {
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 150px;
}

.text-section {
    width: 50%;
    text-align: left;
}

.text-section h1 {
    font-size: 2.5rem;
    font-weight: bold;
    color: #222;
}

.text-section p {
    font-size: 1rem;
    color: #555;
    margin: 15px 0;
    line-height: 1.5;
}

.text-section div {
    display: flex;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
    margin: 15px 0;
}

.text-section .bn45, 
.text-section .bn46 {
    width: 140px;
    height: auto;
    transition: transform 0.2s ease-in-out;
}

.text-section .bn45:hover, 
.text-section .bn46:hover {
    transform: scale(1.05);
}

.text-section h2 {
    font-size: 1.4rem;
    margin-top: 20px;
    color: #222;
}

.text-section p {
    font-size: 1rem;
}

.image-section {
    width: 40%;
    display: flex;
    justify-content: center;
}

.image-section img {
    width: 400px;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
}

@media (max-width: 1024px) {
    .container {
        width: 90%;
        flex-direction: column;
        text-align: center;
    }

    .text-section {
        width: 50%;
    }

    .text-section div {
        justify-content: center;
    }
    .text-section .bn45, 
    .text-section .bn46 {
        margin-top: 15px;
    }

    .image-section {
        width: 100%;
        margin-top: 20px;
    }

    .image-section img {
        width: 100%;
        max-width: 400px;
        height: auto;
    }
}

@media (max-width: 600px) {
    .text-section h1 {
        font-size: 1.5rem;
    }

    .text-section p {
        font-size: 0.9rem;
    }

    .text-section h2 {
        font-size: 1.2rem;
    }

    .text-section .bn45, 
    .text-section .bn46 {
        width: 110px;
    }

    .image-section img {
        width: 100%;
        max-width: 300px;
    }
}
@media (min-width: 1920px) {
    .text-section h1 {
        font-size: 3.5rem;
    }

    .text-section p {
        font-size: 1.5rem;
    }

    .text-section h2 {
        font-size: 2rem;
    }

    .text-section .bn45, 
    .text-section .bn46 {
        width: 180px;
        margin-top: 15px;
    }

}